<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <link rel="stylesheet" href="/static/css/layui.css">
    <script src="/static/js/layui.js"></script>

</head>
<body>
<div>
    <a href="/interview/login">登录</a>
    <br>
    <a href="/admin/">简历管理</a>
    <br>
    <a href="/admin/email">邮件编辑</a>
    <br>
    <a href="/interview/">电子简历</a>
</div>

</body>
</html>