<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HR登录</title>
    <link rel="stylesheet" href="/static/css/layui.css">
    <link rel="stylesheet" href="/static/css/admin-login.css">
    <script src="/static/js/layui.js"></script>
    <script src="/static/js/index.js"></script>
</head>
<body>
<div class="container">
    <div class="login-box">
        <div class="logo-box">

        </div>
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <img src="" alt="" class="logo-img">
                <label  class="layui-form-label">二维火</label>
                <label  class="layui-form-label">简历管理系统</label>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-block">
                    <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码框</label>
                <div class="layui-input-inline">
                    <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                </div>
                <!--<div class="layui-form-mid layui-word-aux">辅助文字</div>-->
            </div>
        </form>
    </div>

</div>
</body>
</html>