

<!--表格-->
<div class="info-chart">
    <table class="layui-table" lay-data="{ id:'test', url: '/static/data.json'}" lay-filter="test">
        <thead>
        <tr>
            <th lay-data="{field:'id', width:120}">编号</th>
            <th lay-data="{field:'username', width:120}">姓名</th>
            <th lay-data="{field:'phone', width:120}">手机号</th>
            <th lay-data="{field:'email', width:120}">邮箱</th>
            <th lay-data="{field:'position', width:120}">应聘职位</th>
            <th lay-data="{field:'time', width:120, sort: true}">面试时间</th>
            <th lay-data="{field:'state', width:120}">状态</th>
            <th lay-data="{field:'operate_time', width:120, sort: true}">操作时间</th>
            <th lay-data="{field: 'operation', fixed: 'right', width:220,toolbar: '#toolbar'}">操作</th>
        </tr>
        </thead>
    </table>
</div>
