<div class="container">
    <header class="header">
        <div class="header-inner">
            <div class="header-logo"></div>
            <div class="header-title">简历管理系统</div>
        </div>
    </header>
    <main class="main">
        <div class="main-inner">
            <form class="layui-form" action="">
                <div class="text-div">
                    <textarea class="layui-textarea" id="LAY_demo1">
                        亲爱的<span class="username red">{{name}}</span>：您好！诚挚地邀请您参加二维火的面试。</br></br>

                        面试时间：<span class="interview-time">2017年8月13日 14：30</span>></br>
                        面试地点：教工路552号二维火科技大厦</br>
                        面试职位：<span class="interview-pos">产品经理</span></br></br>

                        请您在面试前通过以下链接填写“应聘人员登记表”。</br>
                        账号为您的手机号；密码为：<span class="password">flj908。</span></br>
                        如果遇到问题，请回复邮件，谢谢。</br>
                        <a href="http://www.2dfire.net/resume">http://www.2dfire.net/resume</a> </br>

                        公司介绍</br>
                        专注餐饮和零售云收银，上万家门店成功实践。</br>
                        云计算、大数据、移动互联网、o2o</br>
                        我们追求创新</br>
                        我们崇尚变革</br>
                        我们更为颠覆而生！</br>
                        我们的梦想：搭建商家自己的o2o营销平台</br>
                        让天下没有难开的店！</br>
                        开店要用二维火，生意一定更红火</br></br>

                        我们是一家快速发展的O2O互联网创业公司，刚刚获得支付宝数亿元B轮融资，进入新一轮快速增长。</br>
                        研发与市场核心团队来自阿里巴巴、支付宝、Oracle、腾讯等公司。</br>
                        官网：<a href="http://www.2dfire.com">http://www.2dfire.com</a></br>
                        欢迎前往绿茶、新白鹿等店扫码点餐体验。</br></br>

                        我们将能提供：</br>
                        宽松的办公环境</br>
                        五险一金是必须的</br>
                        极具潜力的期权</br>
                        灵活的考勤方式</br>
                        足够多的水果和零食</br>
                        免费的咖啡和茶</br>
                        每年不少于一次旅游</br>
                        充分的学习机会（培训与分享）</br>
                        定期的运动日（篮球或其他）公司负责场地</br>
                        游戏机</br>
                        餐补</br>
                        报销所有职业书籍</br>
                        室内PM2.5小于50的清新空气</br>
                        年休假</br>
                        你要能扛得住：</br>
                        做为创业公司，加班是必然的，但是会有调休</br>
                        边做业务边改进架构的压力</br>
                        业务快速增长下，能力也要快速提升</br>
                    </textarea>
                </div>
                <div class="site-demo-button" style="margin-top: 40px; text-align: center;">
                    <button class="layui-btn site-demo-layedit" lay-submit data-type="cancel" style="margin-right: 160px; width:160px">
                        取消
                    </button>
                    <button class="layui-btn site-demo-layedit" lay-filter="form-email" data-type="confirm" style=" width:160px">确认</button>
                </div>
            </form>
        </div>

    </main>

    <div class="email-content">

    </div>
</div>


