
<div class="container">
    <header class="header">
        <div class="header-inner">
            <div class="header-logo"></div>
            <div class="header-title">应聘人员登记系统</div>
        </div>
    </header>
    <main class="main">
        <ul class="layui-nav layui-nav-tree layui-nav-side side-nav">
            <li class="layui-nav-item "><a href="#info">基本信息</a></li>
            <li class="layui-nav-item"><a href="#profile">个人概况</a></li>
            <li class="layui-nav-item"><a href="#education">教育经历</a></li>
            <li class="layui-nav-item"><a href="#train">培训经历</a></li>
            <li class="layui-nav-item"><a href="#occupation">工作经历</a></li>
            <li class="layui-nav-item"><a href="#family">家庭关系</a></li>
            <li class="layui-nav-item"><a href="#personality">性格</a></li>
            <li class="layui-nav-item"><a href="#open-problem">开放问题</a></li>
            <li class="layui-nav-item"><a href="#other">其他</a></li>
            <li class="layui-nav-item"><a href="#commitment">承诺书</a></li>
        </ul>
        <main class="body">
            <form class="layui-form" action="">

                <section class="panel" id="info">
                    <header class="panel-header">基本信息</header>
                    <div class="layui-form-item">
                        <label class="layui-form-label">应聘岗位</label>
                        <div class="layui-input-inline" style="width: 335px;">
                            <input type="text" name="title" required  lay-verify="required" placeholder="应聘岗位" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">应聘时间</label>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" class="layui-input tool-item" id="id-apply-time" placeholder="应聘时间" >
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">可到职时间</label>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" class="layui-input tool-item" id="id-entry-time" placeholder="可到职时间" >
                            </div>
                        </div>
                    </div>
                </section>

                <section class="panel" id="profile">
                    <header class="panel-header">
                        个人概况
                    </header>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">

                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-inline">
                                <input type="radio" name="sex" value="nan" title="男">
                                <input type="radio" name="sex" value="nv" title="女" checked>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">出生日期</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input tool-item" id="id-birth-time" placeholder="" >
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">身份证号码</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">籍贯</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">

                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">户口所在地</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>


                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">民族</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">政治面貌</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">婚姻状况</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">生育状况</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">现住址</label>
                        <div class="layui-input-inline" style="width: 515px;">
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">联系电话</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">E-mail</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">兴趣爱好</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">来往路程</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label" >身体状况</label>
                        <div class="layui-input-inline" style="width: 515px;">
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" >
                        <label class="layui-form-label" >奖惩记录</label>
                        <div class="layui-input-inline" style="width: 515px;">
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                        </div>
                    </div>


                </section>

                <section class="panel" id="education">
                    <header class="panel-header clear" >
                        教育经历
                        <button class="layui-btn layui-btn-normal addBtn addBtn-education fr">添加</button>
                    </header>
                </section>

                <section class="panel" id="train">
                    <header class="panel-header clear">
                        培训经历(请从最早的培训经历填起)
                        <button class="layui-btn layui-btn-normal addBtn addBtn-train fr">添加</button>
                    </header>
                </section>

                <section class="panel" id="occupation">
                    <header class="panel-header  clear">
                        工作经历(请从参加工作填起到现在)
                        <button class="layui-btn layui-btn-normal addBtn addBtn-occupation fr">添加</button>
                    </header>
                </section>

                <section class="panel" id="family">
                    <header class="panel-header  clear">
                        主要家庭成员即社会关系(杭州)
                        <button class="layui-btn layui-btn-normal addBtn addBtn-family fr">添加</button>
                    </header>
                </section>

                <section class="panel" id="personality">
                    <header class="panel-header">
                        性格
                    </header>
                    <div class="layui-form-item">
                        <input type="checkbox" name="like[write]" title="谨慎">
                        <input type="checkbox" name="like[read]" title="乐观">
                        <input type="checkbox" name="like[dai]" title="消极">
                        <input type="checkbox" name="like[dai]" title="自信">
                        <input type="checkbox" name="like[dai]" title="随和">
                        <input type="checkbox" name="like[dai]" title="神经质">
                        <input type="checkbox" name="like[dai]" title="敏锐">
                        <input type="checkbox" name="like[dai]" title="耿直">
                        <input type="checkbox" name="like[dai]" title="寡言">
                        <input type="checkbox" name="like[dai]" title="宽言">
                        <input type="checkbox" name="like[dai]" title="有主见">
                        <input type="checkbox" name="like[dai]" title="性情易变">
                        <input type="checkbox" name="like[dai]" title="机灵">
                        <input type="checkbox" name="like[dai]" title="热心">
                        <input type="checkbox" name="like[dai]" title="利舌">
                        <input type="checkbox" name="like[dai]" title="淡泊">
                        <input type="checkbox" name="like[dai]" title="理智型">
                        <input type="checkbox" name="like[dai]" title="兴奋型">
                        <input type="checkbox" name="like[dai]" title="有个性">
                        <input type="checkbox" name="like[dai]" title="有支配欲">
                        <input type="checkbox" name="like[dai]" title="有条理性">
                        <input type="checkbox" name="like[dai]" title="有节制力">
                        <input type="checkbox" name="like[dai]" title="行动型">
                        <input type="checkbox" name="like[dai]" title="细致">
                        <input type="checkbox" name="like[dai]" title="勤俭">
                        <input type="checkbox" name="like[dai]" title="喜自我决策">
                        <input type="checkbox" name="like[dai]" title="孤僻">
                        <input type="checkbox" name="like[dai]" title="温顺">
                        <input type="checkbox" name="like[dai]" title="有责任心">
                        <input type="checkbox" name="like[dai]" title="多愁善感">
                        <input type="checkbox" name="like[dai]" title="有进取心">
                        <input type="checkbox" name="like[dai]" title="果断">
                        <input type="checkbox" name="like[dai]" title="疑虑">
                        <input type="checkbox" name="like[dai]" title="苛求">
                        <input type="checkbox" name="like[dai]" title="诚实">
                        <input type="checkbox" name="like[dai]" title="内向">
                    </div>
                </section>

                <section class="panel" id="open-problem">
                    <header class="panel-header">
                        开放问题
                    </header>
                    <!--开放问题-->
                    <div class="layui-form-item ">
                        <label class="layui-form-label question" style="width: 200px;">您对本企业印象如何?</label>
                        <textarea name="desc" placeholder="请控制在500字以内" class="layui-textarea"></textarea>
                    </div>

                    <div class="layui-form-item ">
                        <label class="layui-form-label question" style="width: 200px;">你希望本企业提供怎样的平台?</label>
                        <textarea name="desc" placeholder="请控制在500字以内" class="layui-textarea"></textarea>
                    </div>
                    <div class="layui-form-item ">
                        <label class="layui-form-label question" style="width: 200px;">您对自己的职业规划是什么?</label>
                        <textarea name="desc" placeholder="请控制在500字以内" class="layui-textarea"></textarea>
                    </div>
                    <div class="layui-form-item ">
                        <label class="layui-form-label question" style="width: 200px;">请您概述一下自己的人生观。</label>
                        <textarea name="desc" placeholder="请控制在500字以内" class="layui-textarea"></textarea>
                    </div>
                </section>

                <section class="panel" id="other">
                    <header class="panel-header">
                        其他
                    </header>

                    <div class="sub-section">
                        <header class="sub-header">您应聘本公司的主要目的(多选)</header>
                        <div class="layui-form-item">
                            <!--<div style="overflow: hidden; ">-->
                            <!--<label class="layui-form-label question" style="width: 200px;">您应聘本公司的主要目的(多选)</label>-->
                            <!--</div>-->
                            <input type="checkbox" name="like[write]" title="职业">
                            <input type="checkbox" name="like[read]" title="收入" checked>
                            <input type="checkbox" name="like[dai]" title="交通环境">
                            <br>
                            <div class="layui-inline" style="margin-top: 10px;">
                                <div class="layui-input-inline" style="width: 100px;">
                                    <input type="checkbox" name="like[dai]" title="其他">
                                </div>
                                <div class="layui-input-inline" style="width: 500px;">
                                    <input type="text" name="title" required  lay-verify="required" placeholder="请注明" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sub-section">
                        <header class="sub-header">目前收入</header>
                        <div class="layui-form-item">
                            <label class="layui-form-label">年收入(元)</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">固定工资(元)</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>

                    <div class="sub-section">
                        <header class="sub-header">期望收入</header>
                        <div class="layui-form-item">
                            <label class="layui-form-label">年收入(元)</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">固定工资(元)</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>

                    <div class="sub-section">
                        <header class="sub-header">最低薪资要求</header>
                        <div class="layui-form-item">
                            <label class="layui-form-label">年收入(元)</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">固定工资(元)</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                </section>
                <section class="panel" id="commitment">
                    <header class="panel-header">
                        上传简历或作品
                    </header>
                    <div style="width: 120px; margin: 0 auto;">
                        <button type="button" class="layui-btn" id="id-upload">
                            <i class="layui-icon">&#xe67c;</i>上传文件
                        </button>
                    </div>

                </section>
                <section class="panel" id="commitment">
                    <header class="panel-header">
                        承诺书
                    </header>
                    <div class="layui-bg-cyan commitment-text ">
                        填表人郑重承诺，本表所填事项真实可靠，绝无虚假隐瞒，接受公司的背景调查。如有不实之处，接受相关法律责任，并接受公司无偿辞退处理。
                        <div class="consent-btn">
                            <input type="radio" name="sex" value="同意" title="同意">
                        </div>
                    </div>

                    <div class="submit">
                        <button class="layui-btn layui-btn-big" lay-submit lay-filter="formDemo" style="width: 150px;">立即提交</button>
                        <p>点击提交后方可生效，提交后可再次修改重新提交</p>
                    </div>
                </section>

            </form>
        </main>
    </main>
</div>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<script src="/static/layui/layui.js"></script>
<script src="/static/js/templates.js"></script>
<script src="/static/js/resume.js"></script>
</body>
</html>